<div *ngIf="!selectedDay" class="month-view">
  <h2>{{ currentMonth | date: 'MMMM yyyy' }}</h2>
  <button (click)="previousMonth()">Previous Month</button>
  <button (click)="nextMonth()">Next Month</button>
  <div class="grid">
    <div *ngFor="let day of daysInMonth"
         class="day"
         [class.today]="isToday(day)"
         (click)="openDay(day)">
      {{ day | date: 'd' }}
      <div class="day-abbreviation">{{ day | date: 'EEE' }}</div>
      <div *ngIf="hasAppointments(day)" class="appointment-indicator">
        📅
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedDay" class="day-view">
  <button (click)="closeDay()">Back to Month View</button>
  <h2>{{ selectedDay | date: 'EEEE, MMM d, yyyy' }}</h2>
  <div class="time-slots">
    <div *ngFor="let time of timeSlots" class="time-slot">
      <div class="time-label">{{ time.label }}</div>

      <!-- Only show appointments if there are appointments in the time slot -->
      <div class="appointments" *ngIf="areAppointmentsInTimeSlot(time)">
        <div *ngFor="let appointment of appointmentsForSelectedDay">
          <div *ngIf="isTimeInSlot(appointment, time)" (click)="selectAppointment(appointment)">
            <strong>{{ appointment.title }}</strong>
            <p>{{ appointment.description }}</p>

            <!-- Display Start and End Times -->
            <div class="appointment-times">
              <span>Start: {{ convertToDate(selectedDay, appointment.startTime) | date: 'HH:mm' }}</span>
              <span>End: {{ convertToDate(selectedDay, appointment.endTime) | date: 'HH:mm' }}</span>
            </div>

            <!-- Only show delete button if the appointment is selected -->
            <button *ngIf="isSelected(appointment)" (click)="confirmDelete(appointment)">Delete</button>
          </div>
        </div>
      </div>

      <!-- Show message if no appointments for the time slot -->
      <div *ngIf="!areAppointmentsInTimeSlot(time)">
        No appointments for this time slot.
      </div>
    </div>
  </div>
</div>

<div class="add-appointment-container">
  <div class="add-appointment" [routerLink]="['/add']">
    <h1>Add Appointment</h1>
  </div>
</div>
